<!--form handling-->
<form action="/api/users" method="POST" id="add_user">
  <div class="new_user">
    <!--User Name-->
    <div class="form-group">
      <label for="Nome" class="text-light">Nome</label>
      <input type="hidden" name="id" value="" />
      <input type="text" name="Nome" value="" placeholder="José da Silva" />
    </div>
    <!--User Code-->
    <div class="form-group">
      <label for="Registro" class="text-light">Registro</label>
      <input type="tel" name="Registro" value="" placeholder="00.000.00" />
    </div>
    <!--User Phone-->
    <div class="form-group">
      <label for="Telefone" class="text-light">Telefone Fixo</label>
      <input type="tel" name="Telefone" value="" placeholder="(00)00000-0000" />
    </div>
    <!--User Mobile Phone-->
    <div class="form-group">
      <label for="Celular" class="text-light">Telefone Celular</label>
      <input type="tel" name="Celular" value="" placeholder="(00)00000-0000" />
    </div>
    <!--User Zip Code. Only works for brazilian zip codes-->
    <div class="form-group">
      <label for="CEP" class="text-light">CEP</label>
      <input type="text" name="CEP" value="" placeholder="00000-000" />
    </div>
    <!--User Address Number-->
    <div class="form-group">
      <label for="Numero" class="text-light">Número</label>
      <input type="number" name="Numero" value="" />
    </div>
    <!--User Address Complement-->
    <div class="form-group">
      <label for="Complemento" class="text-light">Complemento</label>
      <input type="text" name="Complemento" value="" />
    </div>
    <!--User Specialities-->
    <div class="form-group">
      <label for="Especialidades" class="text-light">Especialidades</label>
      <div class="radio inline">
        <input type="checkbox" name="Especialidades" value="Alergologia" />
        <label for="Especialidades" class="text-light">Alergologia</label>
      </div>
      <div class="radio inline">
        <input type="checkbox" name="Especialidades" value="Angiologia" />
        <label for="Especialidades" class="text-light">Angiologia</label>
      </div>
      <div class="radio inline">
        <input type="checkbox" name="Especialidades" value="Buco_Maxilo" />
        <label for="Especialidades" class="text-light">Buco Maxilo</label>
      </div>
      <div class="radio inline">
        <input
          type="checkbox"
          name="Especialidades"
          value="Cardiologia_Clinica"
        />
        <label for="Especialidades" class="text-light"
          >Cardiologia Clínica</label
        >
      </div>
      <div class="radio inline">
        <input
          type="checkbox"
          name="Especialidades"
          value="Cardiologia_Infantil"
        />
        <label for="Especialidades" class="text-light"
          >Cardiologia Infantil</label
        >
      </div>
      <div class="radio inline">
        <input
          type="checkbox"
          name="Especialidades"
          value="Cirurgia_Cabeça_E_Pescoço"
        />
        <label for="Especialidades" class="text-light"
          >Cirurgia Cabeça e Pescoço</label
        >
      </div>
      <div class="radio inline">
        <input
          type="checkbox"
          name="Especialidades"
          value="Cirurgia_Cardiaca"
        />
        <label for="Especialidades" class="text-light">Cirurgia Cardíaca</label>
      </div>
      <div class="radio inline">
        <input type="checkbox" name="Especialidades" value="Cirurgia_Torax" />
        <label for="Especialidades" class="text-light">Cirurgia de Torax</label>
      </div>
    </div>
    <div class="form-group submit-button">
      <button type="submit" class="btn text-dark update">Cadastrar</button>
    </div>
  </div>
</form>
